<p>
    You've been invited to <a href="https://truepositive.app">True Positive</a>, a tool for tracking and collaborating on security incidents.
</p>
<ul>
    <li>Login URL: <a href="<%= @tp_url %>"><%= @tp_url %></a></li>
    <li>Username: <%= @user.username %></li>
    <li>Password: <%= @password %></li>
</ul>
<p>
    Please change your password after logging in by visiting <a href="<%= @change_password_url %>"><%= @change_password_url %></a>.
    You can also change your username at the same URL.
</p>